node_modules
dist
.DS_Store
*.log
.yarn/*
!.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
test/langbuilder/gamefiles/*
test/bgBuilder/*
.VSCodeCounter
TEST_OUTPUT.md
.deepl_key
jsdoc_server/
*.cpuprofile